.btn {
  background-color: var(--color-black);
  color: var(--color-primary);
  text-align: center;
  padding: 10px, 16px, 10px, 16px;
  cursor: pointer;
  width: 170px;
  height: 47px;
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  margin-right: 20px;
  line-height: 45px;
}
