.Herosec {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 50px; */
}
.hero {
  padding-top: 80px;
  width: 556px;
  height: 100px;
}

.headphone {
  padding-top: 50px;
  padding-left: 35px;
  width: 212px;
  height: 212px;
}
