.Card {
  width: 159px;
  border-radius: 10px;
  /* height: 232px; */
  margin-bottom: 4px;
}
.cardimg {
  width: 162px;
  height: 190px;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.banner {
  width: 162px;
  /* border-radius: 10px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: azure;
  height: 45px;
}
.follow {
  padding: 5px;
  border-radius: 16px;
  background-color: black;
  display: inline-block;
  margin: 4px;
  margin-top: 8px;
  /* text-align: center; */
}

.title {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;

  font-family: Poppins;
  /* font-size: 14px;
  font-weight: 400; */
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
